* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238, 238, 238);
    font-family: "Segoe UI", sans-serif;
}

.title {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

#registerForm label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
    padding: 50px 45px;
    background: #fff;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 397px;
}

.card:hover {
    transform: translateY(-3px);
}

.form-control {
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    width: 100%;
    transition: 0.2s ease;
}


.btn-btn {
    width: 100%;
    padding: 10px;
    background: rgb(5, 112, 211);
    border-radius: 25px;
    color: white;
    font-weight: 600;
    border: none;
    transition: 0.3s ease;
}

.btn-btn:hover {
    background: rgb(4, 90, 170);
    transform: scale(1.0);
}
.error {
    color: #b30000;
    background: #ffd6d6;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ff9a9a;
}
.success {
    color: #155724;
    background: #d4edda;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #a3d9b1;
}

